/* if the viewport is equal to 340px or less than that */ 
/* original small screen  */
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }
    .site-main > .services-area .services{
        width: 13rem;
    }
}
/* if the viewport is equal to 340px or less than that */
/* original medium screen   */
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }
    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }
    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }
    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }
    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }
    .site-main .about-area .about-title p{
        padding: 0%;
    }
    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}
/* if the viewport is equal to 1910px or less than that */ 
/* original large screen  */
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }
    .container{
        max-width: 90%;
    }
    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
}

/* Responsive 400w :
! TODO: Center all text and buttons
TODO: needs services boxes pushed left
TODO: projects - selections need to be centered
TODO: center projects - img text
TODO: clients - center img & text 
TODO: subscribe: center button
*/

/* Galaxy S5 Start  */
@media only screen and (max-width: 360px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner{
        text-align: center;
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .about-area{
        text-align: center;
        align-items: center;
    }
    .site-main .about-area .paragraph{
        text-align: center;
        padding: none;
        margin-left: 2.25rem;
    }
    .site-main .project-area{
        align-items: center;
    }
    .site-main .project-area .button-group button{
        padding-right: 4rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .site-main .about-area .client .client-img img{
        height: 12rem;
        width: 12rem;
    }
    .site-main .subscribe-us-area{
        text-align: center;
    }
    .site-main > .services-area .services{
        width: 20rem;
    } 
    .site-main .services-area .services{
        margin-left: -3.1rem;
    }
    .site-main .subscribe-us-area .subscribe form .btn-submit button{
        margin-right: -5rem;
    }
}
/* Galaxy S5 End  */
/* Pixel 2 &2XL start  */
@media only screen and (max-width: 411px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner{
        text-align: center;
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .site-banner .site-buttons button{
        margin: 1rem 1rem;
    }
    .site-main .about-area{
        text-align: center;
        align-items: center;
    }
    .site-main .about-area .paragraph{
        text-align: center;
        padding: none;
        margin-left: 2.25rem;
    }
    .site-main .project-area{
        align-items: center;
    }
    .site-main .project-area .button-group button{
        padding-right: 6rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .site-main .about-area .client .client-img img{
        height: 14rem;
        width: 14rem;
    }
    .site-main .subscribe-us-area{
        text-align: center;
    }
    .site-main .subscribe-us-area .subscribe{
        margin: 1rem;
    }
    .site-main > .services-area .services{
        width: 23rem;
    } 
    .site-main .services-area .services{
        margin-left: -3.2rem;
    }
    .site-main .subscribe-us-area .subscribe form .btn-submit button{
        margin-right: -5rem;
    }
}
/* Pixel 2 & 2XL end  */
/* iPhone 5/SE start  */
@media only screen and (max-width: 320px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner{
        text-align: center;
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .site-banner .site-buttons button{
        margin: 1rem 3.75rem;
    }
    .site-main .about-area{
        text-align: center;
        align-items: center;
    }
    .site-main .about-area .paragraph{
        text-align: center;
        padding: none;
        margin-left: 2.25rem;
    }
    .site-main .project-area{
        align-items: center;
    }
    .site-main .project-area .button-group button{
        padding-right: 3rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .site-main .about-area .client .client-img img{
        height: 10rem;
        width: 10rem;
    }
    .site-main .subscribe-us-area{
        text-align: center;
    }
    .site-main .subscribe-us-area .subscribe{
        margin: 1rem;
    }
    .site-main > .services-area .services{
        width: 17rem;
    } 
    .site-main .services-area .services{
        margin-left: -2.5rem;
    }
    .site-main .subscribe-us-area .subscribe form .btn-submit button{
        margin-right: -4rem;
    }
}
/* iPhone 5/SE end  */

/* iPhone 6/7/8 375w :
! TODO: Center all text and buttons
TODO: needs services pushed left
TODO: projects - selections need to be centered
TODO: resize client boxes
TODO: center subscribr button
*/

/* iPhone 6/7/8 start*/
@media only screen and (max-width: 375px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner{
        text-align: center;
    }
    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .site-main .site-banner .site-buttons button{
        margin: 1rem 5.5rem;
    }
    .site-main .about-area{
        text-align: center;
        align-items: center;
    }
    .site-main .about-area .paragraph{
        text-align: center;
        padding: none;
        margin-left: 2.25rem;
    }
    .site-main .project-area{
        align-items: center;
    }
    .site-main .project-area .button-group button{
        padding-right: 6rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .site-main .about-area .client .client-img img{
        height: 12rem;
        width: 12rem;
    }
    .site-main .subscribe-us-area{
        text-align: center;
    }
    .site-main .subscribe-us-area .subscribe{
        margin: 1rem;
    }
    .site-main > .services-area .services{
        width: 20rem;
    } 
    .site-main .services-area .services{
        margin-left: -2.5rem;
    }
    .site-main .subscribe-us-area .subscribe form .btn-submit button{
        margin-right: -4.5rem;
    }
}
/* iPhone 6/7/8 end*/

/* iPhone 6/7/8 plus 414w :
! TODO: Center all text and buttons
TODO: needs services pushed left
TODO: projects - selections need to be centered
TODO: resize client boxes
TODO: center subscribr email & button
*/

/* iPhone X/11 375w :
! TODO: Center all text and buttons
TODO: needs services pushed left
TODO: projects - selections need to be centered
TODO: resize client boxes
TODO: center subscribr email & button
*/

/* iPad 768w :
! TODO: Center all text and buttons
TODO: needs services pushed left
TODO: projects - selections need to be centered
TODO: resize client boxes
TODO: center subscribr email & button
*/

/* iPad Pro 1024w :
! TODO: Center all text and buttons
TODO: needs services pushed left
TODO: projects - selections need to be centered
TODO: resize client boxes
TODO: center subscribr email & button
*/